*{
*{
	font-family: 'Yu Gothic';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content{
	width: 70%;
	margin: 0 auto;
}

input[type='email'], textarea {
	display: block;
	padding: 3px;
	width: 70%;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea{
	height: 100px;
}

#intro{
	background: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .7)),url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
}

.intro_content{
	width: 70%;
	margin: 0 auto;
	height: 350px;
	text-align: center;
}

.intro_content > h1{
	letter-spacing: 5px;
	word-spacing: 20px;
	color: white;
}

.intro_content h1 span{
	color: chocolate
}

.navbar h1{
	float: left;	
	color: chocolate	
}

.navbar ul{
	list-style-type: none;
	float: right;
}

.navbar ul li{
	display: inline-block;
	padding: 12px;
    color: white;                                       
}

.navbar:after{
	content: '';
	height: 60px;
	display: block;
	clear: both;
}

#about, #project, #contact{
	padding-top: 40px;
	padding-bottom: 20px
}

#about img{
	float: left;
	margin-right: 20px;
}

#about:after{
	content: '';
	display: block;
	clear: both;
}

#projects{
	height: 300px;
	box-sizing: border-box;
	padding-top: 125px;
}

#projects div img{
	float: left;
	width: 25%;
}

#projects div div{
	width: 70%;
	float: right;
}

#projects div div a{
	text-decoration: none;
	color: cadetblue;
	font-weight: bold;
}

#projects div:after{
	content: '';
	display: block;
	clear: both;
}

input[type='submit']{
	padding: 5px;
	border-radius: 2px;
	border-style: none;
	background-color: #2e81c3;
	color: white;
	font-size: 18px;
}

@media screen and (max-width: 450px){
	.content{
		width: 90%;
	}

	.intro_content{
		width: 90%;
		margin: 0 auto;
		height: 350px;
		text-align: center;
	}

	input[type='email'], textarea{
		display: block;
		width: 100%;
	}

	.navbar ul {
		display: none;	
	}
}