*{
	font-family: 'Yu Gothic';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content{
	width: 70%;
	margin: 0 auto;
}

input[type='email'], textarea {
	display: block;
	padding: 2%;
	width: 46%;
    margin: 1% 0%;
    background: none;
    border: 2px solid #ccc;
}

textarea{
	height: 100px;
}

#intro{
	height: 60vh;
}

.intro_content{
	width: 70%;
	margin: 0 auto;
	height: 350px;
	text-align: center;
}

.intro_content > h1{
	letter-spacing: 5px;
	word-spacing: 20px;
}

.intro_content h1 span{
	color: chocolate
}

.navbar h1{
	float: left;	
	color: chocolate	
}

.navbar ul{
	list-style-type: none;
	float: right;
}

.navbar ul li{
	display: inline-block;
	padding: 12px;                                      
}

.navbar:after{
	content: '';
	height: 60px;
	display: block;
	clear: both;
}

#about, #project, #contact{
	padding: 20px 0px 20px 0px;
	padding-bottom: 20px
}

#about{
    text-align: center;
}

#about >  * {
	margin: 1%;
    padding: 1%;
    display: inline-block;
}

#about img{
    width: 20%;
}
#about p{
    width: 70%;
    text-align: left
}

/*
#about:after{
	content: '';
	display: block;
	clear: both;
}
*/

#projects{
	height: 300px;
	width: 90%;
	margin: 40px auto;
	box-sizing: border-box;
	padding-top: 100px;
}

#projects div img{
	float: left;
	/*width: 25%;*/
}

#projects div div{
	/*width: 70%;*/
	float: right;
}

#projects div div a{
	text-decoration: none;
	color: cadetblue;
	font-weight: bold;
}

div.guessingGame img:after{
	content: '';
	display: block;
	clear: both;
}

input[type='submit']{
	padding: 5px;
	border-radius: 5px;
	border-style: none;
	background-color: #2e81c3;
	color: white;
	font-size: 18px;
}

.contact_wrapper{
	width: 100%;
	background-color: #777;
}
#contact{
    color: white;
}
#content{
	position: relative;
	z-index: 1;
	color: white;
	width: 70%;
	margin: 0 auto;
}
@media screen and (max-width: 450px){
	.content{
		width: 90%;
	}

	.intro_content{
		width: 90%;
		margin: 0 auto;
		height: 350px;
		text-align: center;
	}

	input[type='email'], textarea{
		display: block;
		width: 100%;
	}

	.navbar ul {
		display: none;	
	}
	#background{
		height: 35vh;
		background-color: #444;
	}
}